body{
    font-family: arial, 'Times New Roman', times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}




.navbar{
  display: flex;
  background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(255, 0, 179));
  padding: 16px 50px;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 40px;
}

.logo-navbar{
  width: 100%;
  max-width: 120px;
  max-height: 120px ;
  margin-left: 70px;
  }

  .navbar a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    margin-top: 8px;
    
}
.navbar a:hover{
    color: rgb(255, 0, 0);
}

.bt-navbar{
  background-color: white; 
  border-radius: 20px;
  padding: 0 50px;
  margin-bottom: 8px;
  margin-left: 400px;
  margin-top: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bt-navbar1{
   
   border-radius: 20px;
   margin-bottom: 8px;
   margin-top: 10px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
  background-color: white;
   margin-left: -10px;
   padding: 0 13px;
}

.carrinho img{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  
}

  
  footer {
    background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(255, 0, 179));
    color: #fff;
    padding: 30px 0;
    width: 100%;
    margin-top: 100px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px; 
  }
  
  .contact-info, .company-info {
    text-align: center;
  }
  
  .contact-info p, .company-info p {
    margin: 5px 0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    
    justify-content: center;
  }
  
  
  main {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  span {
    font-size: x-large;
  }
  
  img  {
    width: 100%;
  }
  
  .swiper {
    height: 700px;
    width: 1400px;
    margin-left: -80px;
    margin-right: -600px;
    margin-top: -50px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 .banner-promocao{
    height: 700px;
    width: 1400px;
    margin-left: 60px;
    margin-right: -600px;
    margin-top: 10px;
 }

 .texto-slogan{
  height: 400px;
  width: 1400px;
  margin-left: 60px;
  margin-right: -600px;
  margin-top: 100px;
 
  
  }

  .container-carrossel {
    max-width: 1300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slide-carrossel {
    display: flex;
    transition: transform 2s ease-in-out;
}

.imagem-carrossel {
    width: 1300px;
    height: 500px;
}



.texto-mensagem{
  font-size: 42px;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: CooperFiveOptiBlack;
 

}